@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif !important;
}

h1,h2,h3,h4 {
  font-weight: bold !important;
}

h4 {
  letter-spacing: 2px !important;
}

h4.underline {
  width: 300px;
  height: 3px;
  background-color: #eb6d08;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

section {
  padding: 5% 15% !important;
}

.first-div {
  padding: 3% 4% !important;
}

@media screen and (max-width: 767px) {
  section {
    padding: 5% 5% !important;
  }
}

@media screen and (max-width: 991px) {
  section {
    padding: 5% 5% !important;
  }
}

#bg-1 {
  background-color: #02131b;
  color: #fff;
}

#bg-2 {
  background-color: #fef5ee;
}

strong {
  color: #ff8c00;
}

.section-8 .card {
  background-color: #112934;
  color: #fff;
}

.card-timer {
  padding: 20% !important;
}

#bg-1 .card {
  background-color: #112934;
}

.section-3 .card {
  background-color: #112934;
  color: #fff;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.card {
  border: none !important;
}

.checkbox-card {
  background-color: #f0f0f0 !important;
  border: none !important;
}

.btn {
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%) !important;
  border: none !important;
  border-radius: 2rem !important;
  transition: transform .2s;
}

.btn:hover {
  background-image: linear-gradient(315deg, #ec9f05 0%, #ff4e00 74%) !important;
  transform: scale(1.1);
}

#section-3 {
  background-color: #fdfcfd;
}

.service-card {
  box-shadow: 0 0 32px 0 rgb(0 0 0 / 3%);
  border: none !important;
}

.benefit-card {
  box-shadow: 0 0 32px 0 rgb(0 0 0 / 3%);
  border: none !important;
  background-color: #112934 !important;
}

.workshop-card {
  background-color: #fafafa !important;
  border: none !important;
}

#section-5 {
  background-color: #fdfcfd;
}

span {
  color: #ff8c00;
  font-size: 13px;
}

video {
  object-fit: cover;
}

#section-5-img {
  width: 100%;
  height: auto;
}

.formsales1 {
  border-radius: 20px;
  display: inline-table;
  padding: 20px 40px;
  background-color: #fff;
}
.formsales1 h1 {
  color: #000;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 28px;
  text-align: center;
}
.formsales1 input,
select {
  border: 1px #fcbc44 solid !important;
}

.formsales1 label {
  color: #000;
}

.formsales1 .boder_lft {
  border-left: 0px !important;
  border-top-right-radius: 2rem !important;
  border-bottom-right-radius: 2rem !important;
}
.formsales1 .boder_lftradius {
  width: 120px;
  border-bottom-left-radius: 2rem !important;
  border-top-left-radius: 2rem !important;
  border: 1px #fcbc44 solid !important;
}
.curve_corner {
  border-radius: 2rem !important;
}
.formsales1 button {
  width: 200px;
  position: relative;
  top: 15px;
  font-size: 20px;
  border-radius: 2rem !important;
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  background: #fcbc44;
}
.formsales1 .input-group {
  margin-bottom: 1rem;
}
.formsales1 .form-group {
  margin-bottom: 10px;
}

@media screen and (min-width: 767px) {
  #mbutton {
    display: none !important;
  }
  .mtext {
    display: none !important;
  }
  #pcol {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  #pbutton {
    display: none !important;
  }
  .ptext {
    display: none !important;
  }
  #pform {
    display: none !important;
  }
  .pinfo {
    display: none !important;
  }
  #mlogo {
    width: 155px;
    height: auto;
  }
  .mcard {
    padding-right: 1px !important;
    padding-left: 1px !important;
  }
  .mcard .card-body {
    padding: 1rem 0 !important;
  }
  .mcard h5 {
    font-size: 18px;
  }
  .mcard p {
    font-size: 9px;
    margin-bottom: 0;
  }
  .mcard img {
    width: 14px;
  }
}