@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;
}

h1,
h2,
h3,
h4 {
  font-weight: bold !important;
}

h4 {
  letter-spacing: 2px !important;
}

h4.underline {
  width: 300px;
  height: 3px;
  background-color: #eb6d08;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

section {
  padding: 5% 15% !important;
}

.first-div {
  padding: 3% 4% !important;
}

@media screen and (max-width: 767px) {
  section {
    padding: 5% 5% !important;
  }
}

@media screen and (max-width: 991px) {
  section {
    padding: 5% 5% !important;
  }
}

#bg-1 {
  background-color: #02131b;
  color: #fff;
}

#bg-2 {
  background-color: #fef5ee;
}

strong {
  color: #ff8c00;
}

.section-8 .card {
  background-color: #112934;
  color: #fff;
}

.card-timer {
  padding: 20% !important;
}

#bg-1 .card {
  background-color: #112934;
}

.section-3 .card {
  background-color: #112934;
  color: #fff;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.card {
  border: none !important;
}

.checkbox-card {
  background-color: #f0f0f0 !important;
  border: none !important;
}

.checkbox-label {
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  line-height: 24px;
  height: 24px;
  width: 24px;
  clear: both;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid #eb6d08;
}

.checkbox-label input:checked ~ .checkbox-custom {
  background-color: #eb6d08;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 2px solid #eb6d08;
}

.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

.checkbox-label .checkbox-custom::before {
  position: absolute;
  content: "";
  left: 10px;
  top: 10px;
  width: 0px;
  height: 0px;
  border-radius: 5px;
  border: 2px solid #eb6d08;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.checkbox-label input:checked ~ .checkbox-custom::before {
  left: -3px;
  top: -3px;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
  opacity: 0;
  z-index: 999;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.pulse-button {
  color: white !important;
  border: none !important;
  background: #ff8c00 !important;
  box-shadow: 0 0 0 0 rgb(212, 183, 90);
  -webkit-animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
}

.pulse-button:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

.course-img {
  object-fit: fill !important;
}

#section-3 {
  background-color: #fdfcfd;
}

.service-card {
  box-shadow: 0 0 32px 0 rgb(0 0 0 / 3%);
  border: none !important;
}

.benefit-card {
  box-shadow: 0 0 32px 0 rgb(0 0 0 / 3%);
  border: none !important;
  background-color: #112934 !important;
}

.workshop-card {
  background-color: #fafafa !important;
  border: none !important;
}

#section-5 {
  background-color: #fdfcfd;
}

span {
  color: #ff8c00;
  font-size: 13px;
}

#section-5-img {
  width: 100%;
  height: auto;
}

.formsales1 {
  border-radius: 20px;
  display: inline-table;
  padding: 20px 40px;
  background-color: #fff;
}
.formsales1 h1 {
  color: #000;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 28px;
  text-align: center;
}
.formsales1 input,
select {
  border: 1px #fcbc44 solid !important;
}

.formsales1 label {
  color: #000;
}

.formsales1 .boder_lft {
  border-left: 0px !important;
  border-top-right-radius: 2rem !important;
  border-bottom-right-radius: 2rem !important;
}
.formsales1 .boder_lftradius {
  width: 120px;
  border-bottom-left-radius: 2rem !important;
  border-top-left-radius: 2rem !important;
  border: 1px #fcbc44 solid !important;
}
.curve_corner {
  border-radius: 2rem !important;
}
.formsales1 button {
  width: 200px;
  position: relative;
  top: 15px;
  font-size: 20px;
  border-radius: 2rem !important;
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  background: #fcbc44;
}
.formsales1 .input-group {
  margin-bottom: 1rem;
}
.formsales1 .form-group {
  margin-bottom: 10px;
}

#pbutton h4,
#pbutton p,
#mbutton h4,
#mbutton p {
  margin-bottom: 0;
}

@media screen and (min-width: 767px) {
  #mbutton {
    display: none !important;
  }
  .mtext {
    display: none !important;
  }
  .mhero {
    display: none !important;
  }
  .mgallery {
    display: none !important;
  }
  #pcol {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  #pbutton {
    display: none !important;
  }
  .ptext {
    display: none !important;
  }
  .phero {
    display: none !important;
  }
  .pgallery {
    display: none !important;
  }
  #pform {
    display: none !important;
  }
  .pinfo {
    display: none !important;
  }
  #mlogo {
    width: 155px;
    height: auto;
  }
  .mcard {
    padding-right: 3px !important;
    padding-left: 3px !important;
  }
  .mcard .card-body {
    padding: 10px 0 !important;
  }
  .mcard h5 {
    font-size: 18px;
  }
  .mcard p {
    font-size: 9px;
    margin-bottom: 0;
  }
  .mcard img {
    width: 14px;
  }
  .mbox {
    padding-left: 30px !important;
  }
}

.owl-dots {
  display: none !important;
}