@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1200px) {
  .formsales h1 {
    color: #5d5845;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 24px;
  }
  .formsales .input-group {
    margin-bottom: 5px;
  }
  .formsales {
    right: 5%;
    width: 325px;
  }
  .formibc h1 {
    color: #5d5845;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 30px;
  }
  .formibc .input-group {
    margin-bottom: 5px;
  }
  .formibc {
    right: 2%;
    width: 325px;
    margin-top: 20px;
  }

  .form-check .checllbl {
    font-size: 10px;
  }
  .formsales .form-group {
    margin-bottom: 4px;
  }
}

@media only screen and (max-width: 992px) {
  .mobsview {
    display: flex !important;
    max-width: 100% !important;
    margin: 0 auto;
  }
  .bg_sales {
    width: 100%;
    height: auto;
    background: url(../images/bg_tabb.jpg) center top no-repeat;
    margin-bottom: 0px;
    background-size: 100% 100%;
  }
  .callsales {
    width: 100%;
    float: right;
    text-align: right;
  }
  .callsales a {
    width: 100%;
    float: right;
    text-align: right;
  }
  .rght-icon .soc_media {
    width: 100%;
    margin-top: 5px;
  }
  .rght-icon .soc_media a {
    float: right;
    text-align: right;
  }
  .formsales {
    margin-top: 10px;
    width: 90%;
    right: 0%;
    top: -10px;
    position: relative;
    margin: 0 5%;
  }
  .formsales .form-group {
    margin-bottom: 5px;
  }
  .formsales button {
    top: 5px;
    font-size: 16px;
    height: 40px;
    width: 150px;
  }
  .logo_tab {
    max-width: 150px !important;
  }
  .rght-icon {
    width: 37%;
  }
  .rght-icon .soc_media a img {
    max-width: 28px;
  }
  .form_sal {
    background: transparent;
  }
  .deskhead {
    padding: 10px 0;
  }
  .deskview {
    display: none !important;
  }
  #clients img {
    max-width: 120px;
  }
  ul.psc li {
    font-size: 18px;
    padding-left: 45px;
    background-size: auto 30px;
  }
  .ibc_img img {
    text-align: center !important;
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 767px) {
  .headd h2 {
    font-size: 24px;
  }
  .headd span {
    font-size: 24px;
  }
}

@media only screen and (max-width: 576px) {
  .bg_sales {
    width: 100%;
    height: 900px;
    margin-bottom: 0px;
    background-size: 100% 100%;
  }
  .bblogo {
    max-width: 150px !important;
  }
  .rght-icon {
    width: 50%;
  }
  .callsales {
    float: right;
    text-align: right;
  }
  .rght-icon .soc_media {
    margin-top: 5px;
  }
  .callsales img {
    max-width: 14px;
  }
  .callsales a {
    font-size: 12px;
  }
  .rght-icon .soc_media a img {
    max-width: 20px;
  }
  .rght-icon .soc_media a {
    float: right;
  }
  .reg_f .form-group {
    margin-bottom: 10px;
  }
  .formsales {
    padding: 20px 40px;
  }
  .mob_img {
    max-width: 250px !important;
  }
  footer a {
    font-size: 14px;
  }
  footer p {
    font-size: 14px;
  }
  .desig_arrow li {
    font-size: 14px;
  }
  .desig_arrow li:nth-child(even) {
    font-size: 14px;
  }
  ul.psc li {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .rght-icon {
    width: 52%;
  }
  .bg_sales {
    width: 100%;
    height: 800px;
  }
  .desig_arrow li {
    font-size: 12px;
  }
  .desig_arrow li:nth-child(even) {
    font-size: 12px;
  }
  .bblogo {
    max-width: 125px !important;
  }
}