@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #212112;
  background-position: center;
  background-repeat: repeat;
  background-color: #fff;
  overflow-x: hidden;
  transition: all 200ms linear;
}
.no-gutter {
  margin: 0;
  padding: 0;
}

input:focus, textarea:focus, select:focus {
  outline: none!important;
  box-shadow: none!important;
}

button:focus {
  outline: none!important;
  box-shadow: none!important;
}

a {
  color: inherit;
  text-decoration: none;
}

.formsales {
  width: 350px;
  position: absolute;
  z-index: 99;
  border-radius: 20px;
  border: 1px #5d5845 solid;
  display: inline-table;
  padding: 20px 40px;
  background-color: #fff;
  right: 5%;
  margin-top: 20px;
  -webkit-box-shadow: 0px 24px 44px 0px rgba(190, 114, 99, 0.37);
  -moz-box-shadow: 0px 24px 44px 0px rgba(190, 114, 99, 0.37);
  box-shadow: 0px 24px 44px 0px rgba(190, 114, 99, 0.37);
}
.formsales h1 {
  color: #5d5845;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 28px;
  text-align: center;
}
.formsales input,
select {
  border: 1px #fcbc44 solid !important;
}
.formsales .boder_lft {
  border-left: 0px !important;
  border-top-right-radius: 2rem !important;
  border-bottom-right-radius: 2rem !important;
}
.formsales .boder_lftradius {
  width: 120px;
  border-bottom-left-radius: 2rem !important;
  border-top-left-radius: 2rem !important;
  border: 1px #fcbc44 solid !important;
}
.curve_corner {
  border-radius: 2rem !important;
}
.formsales button {
  width: 200px;
  position: relative;
  top: 15px;
  font-size: 20px;
  border-radius: 2rem !important;
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  background: #fcbc44;
}
.formsales .input-group {
  margin-bottom: 1rem;
}
.form_sal {
  position: relative;
  top: 0px;
  z-index: 99;
}
.formcont {
  background-color: #2a1908;
  z-index: 9;
}
.bg_sales {
  width: 100%;
  height: 100vh;
  background: url(../images/login_web_bnr.jpg) bottom center no-repeat;
  background-size: 100% 100%;
}
.main_websales {
  max-width: 1200px;
  margin: 0 auto;
}
.mobsview {
  display: none !important;
}
.call_number {
  color: #20f0f5;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 30px;
  padding: 20px 0;
  font-weight: 500;
  width: 100%;
  display: inline-block;
  text-align: center;
}
.call_number i {
  color: #20f0f5;
  font-size: 40px;
  font-weight: 300;
  display: inline-block;
  margin-right: 20px;
  text-transform: lowercase;
  display: inline;
}
.rght-icon {
  width: 50%;
  float: right;
}
.callsales {
  width: auto;
  float: left;
  margin-right: 2%;
}
.callsales a {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}
.callsales a:hover {
  color: #fff;
  text-decoration: none;
}
.rght-icon .soc_media {
  float: right;
  width: auto;
}
.rght-icon .soc_media a img {
  float: left;
  max-width: 36px;
  margin-left: 5px;
}
.video_c {
  margin: 0 auto;
}
.text_c {
  margin: 40px auto;
}
.sponser {
  background: #fff;
  display: block;
  text-align: center;
  padding: 0 0 30px 0;
}
.sponser .sales_log {
  display: inline-block;
  width: 100%;
}
.sponser .sales_log .logo {
  border: 1px #ccc solid;
  width: 25%;
  display: flex;
  vertical-align: text-bottom;
  height: 150px;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  float: left;
}
.sponser .sales_log .logo img {
  max-width: 140px;
}
.sponser h2 {
  color: #071a22;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 0 0 30px 0;
}
#clients img {
  max-height: 100px;
  max-width: 150px;
  text-align: center;
  margin: 0 auto;
}
#clients .slick-next {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background-color: #ccc;
}
#clients .slick-prev {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background-color: #ccc;
}
#clients .slick-track {
  display: inline-flex;
  height: auto;
  align-items: center;
  justify-content: center;
}
.sticky {
  position: fixed;
  bottom: 0;
  padding: 15px 0 0;
  margin: 0 auto;
  text-align: center;
  background: #18223e;
  width: 100%;
  z-index: 99;
}
.sticky p {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.sticky p a {
  background: #fff;
  color: #18223e;
  font-size: 20px;
  text-decoration: none;
  z-index: 99;
  padding: 5px 20px 10px;
  border-radius: 50px;
  font-weight: 700;
  display: inline-block;
}

.form-check .checllbl {
  font-size: 11px;
}
.formsales .form-group {
  margin-bottom: 10px;
}
.deskview {
  display: block;
}

ul.psc {
  margin: 0;
  padding: 0;
}
ul.psc li {
  font-size: 24px;
  font-weight: 500;
  color: #000;
  margin-bottom: 15px;
  background: url("../images/tick.png") no-repeat left top;
  list-style: none;
  padding-left: 65px;
  background-size: auto 41px;
  min-height: 41px;
  width: 50%;
  float: left;
}
#more {
  display: none;
}
.morebtn {
  background: #000 !important;
  color: #f4ae60;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  width: 300px;
  height: auto;
  padding: 10px 30px;
  margin: 0 auto;
  text-align: center;
  outline: none;
  border: none;
}
.headd {
  text-align: center;
  margin: 0 auto;
}
.headd h2 {
  font-size: 40px;
  color: #000;
  font-weight: 900;
}
.headd h4 {
  width: 300px;
  height: 3px;
  background-color: #eb6d08;
  display: inline-block;
  position: relative;
}
.headd span {
  font-size: 40px;
  color: #eb6d08;
  font-weight: 900;
}
.desig_arrow {
  margin: 0;
  padding: 0;
}
.desig_arrow li {
  background: #fff;
  font-size: 16px;
  font-weight: 500;
  height: 100px;
  padding: 10px 20px 10px 30px;
  border-left: 10px #eb6d08 solid;
  border-radius: 8px;
  margin-bottom: 20px;
  list-style: none;
  text-align: left;
}
.desig_arrow li:nth-child(even) {
  background: #efe6e2;
  font-size: 16px;
  font-weight: 500;
  height: 100px;
  padding: 10px 20px 10px 30px;
  border-left: 10px #eb6d08 solid;
  border-radius: 8px;
  margin-bottom: 20px;
  list-style: none;
  text-align: left;
}
.ibc_benifit {
  background: #fef5ee;
}
footer {
  display: block;
  text-align: center;
  margin: 0 auto;
  background: #000;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 0;
}
footer a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
footer a:hover {
  color: #eb6d08;
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s all;
}
